nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px;
}
.text-primary{
    color: orangered;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
   list-style: none;
   margin: 50px;
}

nav a {
    text-decoration: none;
    color:white;
}

.ct-primary{
    border: 5px;
    background-color: orangered;
    color: white;
    font-size: 30px;
    font-weight: 800;
    padding: 12px 96px;
}
.header{
    background-color: white;
    background-image: url(../images/pultu.jpeg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30PX 30PX 40PX 30PX;
    display: table-row-group;
}
.banner-getting{
    font-size: 45px;
}
.banner-title{
    font-size: 85;
    font-weight: 800;
}